body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое по горизонтали */
    justify-content: center; /* Центрируем содержимое по вертикали */
    height: 100vh; /* Занимает всю высоту окна */
}

#statistics {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#question {
    font-size: 40px; /* Размер шрифта для вопроса */
    margin-bottom: 30px;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступы между кнопками */
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover:not(:disabled) {
    background-color: #0056b3; /* Цвет фона при наведении */
}

button:disabled {
    background-color: #ccc; /* Цвет для заблокированной кнопки */
    cursor: not-allowed; /* Курсор для заблокированной кнопки */
}

#addWordForm {
    margin-top: 20px; /* Отступ сверху для формы добавления слов */
}

#populateContainer {
    margin-top: 20px; /* Отступ сверху для контейнера с кнопкой пополнения словаря */
}

#guessedWord {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Новый стиль для кнопки "Получить случайное слово" */
#getQuestionButton {
   margin-top: 20px; /* Отступ сверху для кнопки получения слова */
}
